.hero__section {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  width: 95%;
  padding-bottom: 2rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  height: 80%;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .hero__left {
    align-items: center;
  }
}

.hero__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  justify-content: center;
  align-items: center;
  @media (max-width: 1000px) {
    display: none;
  }
}
.hero__img {
  width: 80%;
  height: 80%;
}

.hero__title {
  font-size: 4rem;
  letter-spacing: 2.8px;
  @media (max-width: 1200px) {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .hero__title {
    margin-top: 1.5rem;
    align-self: center;
  }
}

.hero__description {
  font-size: 1.2rem;
  font-weight: 500;
  color: gray;
  line-height: 1.5rem;
}

@media (max-width: 600px) {
  .hero__description {
    margin-top: 1.5rem;
    text-align: center;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero__buttons a{
  all: unset
}

.hero__btn {
  padding: 1rem 2rem;
  background-color: hsla(272, 66%, 48%, 1);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 550;
  border: 1px solid #fff;
  font-weight: 600;
}

.hero__btn:hover {
  background-color: #efefef;
  color: hsla(272, 66%, 48%, 1);
  transition: ease all 0.3s;
  border: none;
}

.infos__box {
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  font-size: 4rem;
  width: fit-content;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.info__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-left: 3px solid hsla(272, 66%, 48%, 1);
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
