/* Form.css */
.form-container {
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  min-height: 80vh;
   background-color: rgb(206, 163, 245)  ; 
   border-radius: 1rem;
   border: 4px solid rgb(176, 99, 248);
}


.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  /* gap: 0.5rem; */
}

label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  /* font-weight: ; */
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
}
textarea{
  resize: none;
min-height: 20vh;
}

.error {
  color: red;
  font-size: 14px;
  /* margin-top: 4px; */
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #45a049;
}

.form__top{
    display: flex;
    gap: 1rem;
}