/* Tabs.css */

.tabs-container {
    width: 100%;
    justify-self: flex-start;
    /* margin: 0 auto; */
  }
  
  .tabs {
    display: flex;
    border-bottom: 2px solid #efefef;
    width: 100%;
  }
  
  .tab {
    padding-bottom: 0.5rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    font-size: 1.2rem;
  }
  
  .tab:hover {
    color: #2F3D7E;
  }
  
  .tab.active {
    background-color: #fff;
    border-bottom: 3px solid #2F3D7E;


  }
  
  .tab-content {
    border-radius: 0 0 4px 4px;
    padding: 15px;
    margin-top: -1px;
  }
  