.sectionTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-wrap: wrap; */
}

.sectionTwo__right{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}