.sectionTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    /* flex-wrap: wrap; */
    @media (max-width: 900px) {
    flex-wrap: wrap;
  }
}

.sectionTwo__right{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}