.sectionTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 1rem;
  background-color: #efefef;
  gap: 2rem;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .sectionTwo {
    min-height: fit-content;
  }
}

.sectionTwo__right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 400px) {
    display: none;
  }
}

.sectionTwo__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4.5rem;
  gap: 1rem;
  @media (max-width: 600px) {
    align-items: center;
    padding-left: 0rem;
  }
}

.sectionTwo__left h1 {
  border-bottom: 3px solid hsla(272, 66%, 48%, 1);
  font-size: 1.4rem;
  font-weight: 600;
  /* text-align: left; */
  @media (max-width: 600px) {
    align-self: center;
    text-align: center;
  }
}
.sectionTwo__left h4 {
  font-size: 2rem;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 1.2rem;
    text-align: center;
  }
}
.sectionTwo__text {
  font-size: 1.2rem;
  color: gray;
  text-align: left;
  @media (max-width: 600px) {
    font-size: 1rem;
    text-align: center;
  }
}

.resume_btn {
  padding: 1rem 2rem;
  background: hsla(272, 66%, 48%, 1);
  /* background-color: hsla(272, 66%, 48%, 1); */
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 550;
  border: none;
  font-weight: 600;
  border: 2px solid hsla(272, 66%, 48%, 1);
  cursor: pointer;
  
}

.resume_btn:hover {
  background-color: #fff;
  color: hsla(272, 66%, 48%, 1);
  border: 2px solid hsla(272, 66%, 48%, 1);
  transition: ease all 0.4s;
}
