/* Header.css */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: nowrap;
  background-color: #efefef;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:active {
  text-decoration: none;
  color: red;
}

.nav-links a:hover {
  /* text-decoration: underline; */
  color: hsla(272, 66%, 48%, 1); /* Change the color when hovered over */
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .nav-links {
    margin-top: 1rem;
  }
}

.header_icons {
  padding: 0.5rem;
  background-color: #ffff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.header_icons:hover {
  background-color: hsla(272, 66%, 48%, 1);
  color: #fff;
}
/* Drawer style */
.drawer {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  border-right: 3px solid red;
}

.hiddenDrawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  padding: 1em;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  /* transform: translateX(-100%);   */
  transition: 0.3s ease-in-out;
  border-right: 1px solid rgb(206, 202, 202);
}
.drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.drawer-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.drawer-links a {
  text-decoration: none;
  margin: 0.5em 0;
  border-bottom: 2px solid hsla(272, 66%, 48%, 1);
  width: 80%;
  color: gray;
  padding-bottom: 0.5rem;
}
/* Show the drawer when it's open */
.drawer.open {
  transform: translateX(0);
}

.active {
  color: hsla(272, 66%, 48%, 1) !important;
  border-bottom: 3px solid hsla(272, 66%, 48%, 1);
  padding-bottom: 0.5rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Rotate 3 times (3 * 360deg) */
  }
}

.header_icons:hover {
  animation: rotate 0.3s linear 1; /* 1s duration, linear timing function, repeat 3 times */
}
