.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #efefef;
  width: 100%;
  color: black;
  flex-wrap: wrap;
  border-top: 1px solid rgb(182, 182, 182);
}

.footer p {
  font-size: 1.2rem;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.myName {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  border-bottom: 4px solid hsla(272, 66%, 48%, 1);
  padding-inline: 1rem;
}
