@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  padding-inline: 8rem;
}

@media (max-width: 1200px) {
  .layout {
    margin-top: 2rem;
    padding-inline: 3.2rem;
  }
}

@media (max-width: 1000px) {
  .layout {
    padding-inline: 0rem;
  }
}
.custom__layout {
  padding-inline: 10rem;
  width: 100%;
}


@media (max-width: 1200px) {
  .custom__layout {
    margin-top: 2rem;
    padding-inline: 3.2rem;
  }
}

@media (max-width: 1000px) {
  .custom__layout {
    padding-inline: 2rem;
  }
}

